{
  "parser": "@typescript-eslint/parser",
  "plugins": ["resub"],
  "extends": [
    "plugin:resub/recommended",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "document": true,
    "window": true
  }
}